@import "variables";
@import "mixins";

* {
  color: $text-white;
  font-family: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
  /*font-size: 15px;*/
  overflow: hidden;
}

a {
  color: $text-white;
  text-decoration: underline $text-white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn {
  @include flex-row;
  @include flex-center;
  width: 120px;
  height: 40px;

  border: $light-grey 1px solid;
  color: $text-white;
  background: none;
  transition: background-color $transition-duration,
  color $transition-duration;

  &:hover {
    background-color: $white;
    color: $black;
    cursor: pointer;
  }
}

.text-input {
  @include flex-row;
  @include flex-center;

  input {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    background: $black;
  }
}

.header {
  @include flex-row;
  @include flex-center;
  font-size: 1.5em;
}

.logo {
  @include flex-row;
  @include flex-center;

  a {
    font-size: 1.4rem;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.spacer {
  flex-grow: 1;
}

.error-popup {
  @include flex-column;
  @include flex-center;
  color: $red;
}

body {
  @include flex-column;
  @include flex-center;
  //background: $dark-grey;
  background: $dark-grey;
}

.account-link {
  @include flex-row;
  @include flex-center;
}

.icon {
  display: block;
  margin-left: 10px;
}

.container {
  display: flex;
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  margin: 0 50px;
}

header {
  @include flex-row;
  @include flex-center;
  width: 100%;
  height: 60px;
  background: $grey;
  border-bottom: $light-grey 1px solid;
  transition: border-bottom-color $transition-duration;

  &:hover {
    border-bottom-color: $grey-accent;
  }

  .container {
    @include flex-row;
  }
}

main {
  @include flex-column;
  @include flex-center;
  flex-grow: 1;
  width: 100%;
}

.messenger {
  @include flex-row;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  height: 100%;

  padding: 4px 0;
  //border: $light-grey 1px solid;

  &__side-bar {
    @include flex-column;
    width: 200px;
    height: 100%;
    padding: 2px;
    border: $light-grey 1px solid;
    border-radius: 5px;
    transition: border $transition-duration;

    &:hover {
      border: $grey-accent 1px solid;
    }
  }

  &__rooms {
    @include flex-column;
    width: 100%;
    flex-grow: 1;
    gap: 5px;
    //border: $white 1px dotted;
    border-radius: 5px;

    overflow-y: scroll;
    scroll-behavior: smooth;


    @include scroll-bar;
  }

  &__room {
    @include flex-row;
    @include flex-center;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border: $light-grey 1px solid;
    border-radius: 5px;
  }

  &__btn--add-room {
    @include flex-row;
    @include flex-center;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border-radius: 5px;
  }

  &__chat {
    @include flex-column;
    flex-grow: 1;
    height: 100%;
    margin-left: 4px;
    padding: 3px;
    border: $light-grey 1px solid;
    border-radius: 5px;
    transition: border $transition-duration;

    &:hover {
      border: $grey-accent 1px solid;
    }
  }

  &__chat-header {
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 0 0;
    background: $grey;
    border: $light-grey 1px solid;
  }

  &__chat-messages {
    flex-grow: 1;
    //border: $light-grey 1px solid;
  }

  &__chat-input {
    width: 100%;
    height: 60px;
    border-radius: 0 0 5px 5px;
    border: $light-grey 1px solid;
  }
}

footer {
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  background: $light-grey;
  border-top: $light-grey 1px solid;
  transition: border-top-color $transition-duration;

  &:hover {
    border-top-color: $grey-accent;
  }

  .container {
    @include flex-row;
  }
}




















