{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'messenger/css/styleNull.css' %}?{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'messenger/css/account.css' %}?{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
<header>
    <div class="logo header__logo"><a href="">Messenger</a></div>
    <div class="spacer header__spacer"></div>
</header>
<main>
    <div class="account">
        <div class="header account__header">Account</div>
        <div class="account__avatar">pic</div>
        <div class="text-input account__text-input">Name:</div>
        <div class="account__change-password">Password:</div>
        <div class="btn account__save-account-btn">Save</div>
    </div>
</main>
<footer>
     <div class="github"><a href="https://github.com/egorgur">github/egorgur</a></div>
    <div class="telegram"><a>telegram/@egorgur</a></div>
</footer>
<script> const CSRF_TOKEN = '{{ csrf_token }}';</script>
<script src="{% static 'messenger/js/fetch.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/account.js' %}?{{ csrf_token }}"></script>
</body>
</html>