{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'messenger/css/styleNull.css' %}?{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'messenger/css/account.css' %}?{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
<header>
    <div class="container">
        <div class="logo"><a href="http://{{ request.get_host }}/messenger">Messenger</a></div>
        <div class="spacer"></div>
        <a class="account-link" href="http://{{ request.get_host }}/messenger/account">
            {{ username }}
            {% if has_avatar %}
                <img class="icon" src="http://{{ request.get_host }}{{ avatar_path }}"
                     alt="" width="50px" height="50px" id="avatarImage">
            {% else %}
                <img class="icon" src="{% static "messenger/img/empty-avatar.svg" %}"
                     alt="" width="50px" height="50px" id="avatarImage">
            {% endif %}
        </a>
    </div>
</header>
<main>
    <div class="account">
        <div class="header account__header">Account</div>
        <div class="account__avatar">
            {% if has_avatar %}
                <img src="http://{{ request.get_host }}{{ avatar_path }}"
                     alt="" width="180px" height="180px" id="avatarImage">
            {% else %}
                <img src="{% static "messenger/img/empty-avatar.svg" %}"
                     alt="" width="180px" height="180px" id="avatarImage">
            {% endif %}

            <label class="account__input-img" for="avatarInput">set photo</label>
            <input type="file" accept="image/*" id="avatarInput">
        </div>
        <div class="text-input account__text-input">
            <label for="username">Name: </label>
            <div class="spacer"></div>
            <input type="text" id="username" value="{{ username }}">
        </div>
        <div class="account__change-password">
            Password:
            <div class="spacer"></div>
            <button class="btn account__change-password-btn" onclick="changePassRedirect()">change password</button>
        </div>
        <div class="btn account__save-account-btn" onclick="sendAccountData()">Save</div>
        <div class="error-popup account__error-popup" id="error-popup"></div>
        <div class="btn account__leave-account-btn" onclick="leaveAccount()">Leave</div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="github"><a href="https://github.com/egorgur">github/egorgur</a></div>
        <div class="spacer"></div>
        <div class="telegram"><a>telegram/@egorgur</a></div>
    </div>
</footer>
<script>
    const CSRF_TOKEN = "{{ csrf_token }}";
    const emptyAvatarUrl = '{% static "messenger/img/empty-avatar.svg" %}';
</script>
<script src="{% static 'messenger/js/fetch.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/account.js' %}?{{ csrf_token }}"></script>
</body>
</html>