{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'messenger/css/styleNull.css' %}?{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'messenger/css/main.css' %}?{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'messenger/css/main-windows.css' %}?{{ csrf_token }}">
    {#    <link rel="stylesheet" href="{% static 'messenger/css/main-drop-window.css' %}?{{ csrf_token }}">#}
    <title>Document</title>
</head>
<body>
<header>
    <div class="container">
        <div class="logo"><a href="http://{{ request.get_host }}/messenger">Messenger</a></div>
        <div class="spacer"></div>
        <a class="account-link" href="http://{{ request.get_host }}/messenger/account">
            {{ username }}
            {% if has_avatar %}
                <img class="icon" src="http://{{ request.get_host }}{{ avatar_path }}"
                     alt="" width="50px" height="50px" id="avatarImage">
            {% else %}
                <img class="icon" src="{% static "messenger/img/empty-avatar.svg" %}"
                     alt="" width="50px" height="50px" id="avatarImage">
            {% endif %}
        </a>
    </div>
</header>
<main>
    <div class="messenger">
        <div class="messenger__side-bar">
            <div class="messenger__rooms" id="rooms">
            </div>
            <div class="btn messenger__btn--add-room" onclick="newRoomWindow.openWindow()">+</div>
        </div>
        <div class="messenger__chat" id="chatWindow">
            <div class="messenger__chat-header" style="display: none" id="chatHeader">
                <div class="messenger__chat-header--room-name" id="roomName"></div>
                <div class="spacer"></div>
            </div>
            <div class="messenger__chat-messages" style="display: none;" id="messages">
                <div style="order: 9999999; align-self: center;flex-shrink: 0" id="lastToScrollElement">
                </div>

            </div>
            <div class="messenger__chat-input" id="chatInputContainer" style="display: none;height: 60px;">
                <label class="btn messenger__attach-file" for="fileInput">+</label>
                <input type="file" id="fileInput" style="display: none">
                <div class="messenger__text-input" id="textInputContainer">
                    <label for="textInput"></label>
                    <textarea type="text" id="textInput" cols="1" rows="1" placeholder="Write a message..."></textarea>
                </div>
                <div class="btn messenger__send-message-btn" id="sendMessageButton" onclick="sendMessage()">>></div>
                <div class="messenger__file-drop-window" id="dropZoneWindow">Drop file here</div>
                <div class="messenger__files-window" id="files"></div>
            </div>
        </div>
    </div>
</main>
<div class="modal modal--room-menu" id="groupActionsWindow">
    <div class="modal__pre-header modal--room-menu__pre-header">
        <button onclick="GroupMenuWindow.closeWindow();overlay.classList.remove('active')">
            &times;
        </button>
        <div class="spacer"></div>
    </div>
    <div class="modal__header modal--room-menu__header">
        <div id="GroupMenuWindowName">TEST</div>
    </div>
    <div class="modal__action modal--room-menu__action" onclick="GroupMenuWindow.renameGroup()" id="groupRename">Rename
    </div>
    <div class="modal__action modal--room-menu__action" onclick="GroupMenuWindow.setRules()" id="groupRules">Rules</div>
    <div class="modal__action modal--room-menu__action" onclick="GroupMenuWindow.inviteToRoom()" id="groupInvite">
        Invite
    </div>
    <div class="modal__action modal--room-menu__action" onclick="GroupMenuWindow.kickFromRoom()" id="groupKick">Kick
    </div>
    <div class="modal__action modal--room-menu__action" onclick="GroupMenuWindow.leaveRoom()" id="groupLeave">Leave</div>
    <div class="modal__action modal--room-menu__action" onclick="GroupMenuWindow.deleteRoom()" id="groupDelete">Delete
    </div>
</div>
<div class="modal modal--delete-confirm" id="deleteConfirm">
    <div class="modal--delete-confirm__header" id="deleteConfirmHeader">
        <span>Are you sure you want to delete this room?</span>
        <span>Room data will be unrecoverable.</span>
    </div>
    <div class="btn modal--delete-confirm__cancel-btn" onclick="deleteConfirmWindow.cancel()">Cancel</div>
    <div class="btn modal--delete-confirm__confirm-btn" onclick="deleteConfirmWindow.deleteRoom()">DELETE</div>
</div>
<div class="modal modal--leave-confirm" id="leaveConfirm">
    <div class="modal--leave-confirm__header" id="leaveConfirmHeader">
        <span>Are you sure you want to leave this room?</span>
    </div>
    <div class="btn modal--leave-confirm__cancel-btn" onclick="leaveConfirmWindow.cancel()">Cancel</div>
    <div class="btn modal--leave-confirm__confirm-btn" onclick="leaveConfirmWindow.leaveRoom()">LEAVE</div>
</div>
<div class="modal modal--rename-room" id="renameRoomWindow">
    <div class="modal__pre-header modal--rename-room__pre-header">
        <button onclick="RoomRenameWindow.closeWindow();GroupMenuWindow.openWindow();">
            &times;
        </button>
        <div class="spacer"></div>
    </div>
    <div class="modal--rename-room__header" id="renameWindowOldName">test</div>
    <div class="text-input modal--rename-room__text-input"><label for="renameRoomInput"></label><input
            id="renameRoomInput" type="text"></div>
    <button class="btn modal--rename-room__save-btn" id="saveNewName" onclick="RoomRenameWindow.saveNewName()">SAVE
    </button>
</div>
<div class="modal modal--room-rules" id="setRulesWindow">
    <div class="modal__pre-header modal--room-rules__pre-header">
        <button onclick="setRulesWindow.closeWindow();GroupMenuWindow.openWindow();">
            &times;
        </button>
    </div>
    <div class="modal__header modal--room-rules__header" id="setRulesWindowHeader">Test</div>
    <div class="modal--room-rules__check-box" id="setRulesWindowListUser">
        <div style="font-size: 1.25em; margin-bottom: 5px;">User:</div>
        <div class="modal--room-rules__rule">
            <label for="ruleUserCanPost">Can post</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleUserCanPost" name="scales" checked/>
        </div>
        <div class="modal--room-rules__rule">
            <label for="ruleUserCanRenameRoom">Can rename</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleUserCanRenameRoom" name="scales" checked/>
        </div>
        <div class="modal--room-rules__rule">
            <label for="ruleUserCanInvite">Can invite</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleUserCanInvite" name="scales" checked/>
        </div>
        <div class="modal--room-rules__rule">
            <label for="ruleUserCanKick">Can kick</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleUserCanKick" name="scales" checked/>
        </div>
    </div>
    <div class="modal--room-rules__check-box" id="setRulesWindowListAdmin">
        <div style="font-size: 1.25em; margin-bottom: 5px;">Admin:</div>
        <div class="modal--room-rules__rule">
            <label for="ruleAdminCanRenameRoom">Can rename</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleAdminCanRenameRoom" name="scales" checked/>
        </div>
        <div class="modal--room-rules__rule">
            <label for="ruleAdminCanAddAdmins">Can add new admins</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleAdminCanAddAdmins" name="scales" checked/>
        </div>
        <div class="modal--room-rules__rule">
            <label for="ruleAdminCanRemoveAdmins">Can remove admins</label>
            <div class="spacer"></div>
            <input type="checkbox" id="ruleAdminCanRemoveAdmins" name="scales" checked/>
        </div>
    </div>
    <div class="modal__scroll-list modal--room-rules__scroll-list" id="setRulesWindowAdmins">
    </div>
    <div class="btn modal--room-rules__save-btn" onclick="setRulesWindow.saveRules()">Save parameters</div>
</div>
<div class="modal modal--invite-user" id="inviteUsersToRoom">
    <div class="modal__pre-header modal--invite-user__pre-header">
        <button onclick="inviteUsersWindow.closeWindow();GroupMenuWindow.openWindow();">
            &times;
        </button>
    </div>
    <div class="modal__header modal--invite-user__header" id="inviteToRoomHeader">Test</div>
    <div class="modal__scroll-list modal--invite-user__scroll-list" id="inviteUsersDiv">
    </div>
</div>
<div class="modal modal--kick-user" id="kickWindow">
    <div class="modal__pre-header modal--kick-user__pre-header">
         <button onclick="kickUserWindow.closeWindow();GroupMenuWindow.openWindow();">
            &times;
        </button>
    </div>
    <div class="modal__header modal--kick-user__header" id="kickWindowHeader">Test</div>
    <div class="modal__scroll-list modal--kick-user__scroll-list" id="kickWindowUsers"></div>
</div>
<div class="modal modal--new-room" id="newRoom">
    <div class="modal__pre-header">
        <button onclick="newRoomWindow.closeWindow();overlay.classList.remove('active');">
            &times;
        </button>
    </div>
    <div class="modal__header modal--new-room__header">Make new room</div>
    <div class="text-input modal--new-room__text-input">
        <label for="nameNewRoomInput"></label><input type="text" placeholder="Enter new room name" id="nameNewRoomInput">
    </div>
    <div class="modal__scroll-list modal--new-room__scroll-list" id="userToAddToNewRoom">
    </div>
    <div class="btn modal--new-room__save-btn" onclick="newRoomWindow.saveRoom()">Create room</div>
</div>
<div id="overlay"></div>
<footer>
    <div class="container">
        <div class="github"><a href="https://github.com/egorgur">github/egorgur</a></div>
        <div class="spacer"></div>
        <div class="telegram"><a>telegram/@egorgur</a></div>
    </div>
</footer>

<script>
    const CSRF_TOKEN = '{{ csrf_token }}';
    const emptyAvatarHref = '{% static "messenger/img/empty-avatar.svg" %}';
</script>
<script src="{% static 'messenger/js/fetch.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/websocket.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/main.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/mainFileManagement.js' %}?{{ csrf_token }}"></script>
</body>
</html>