{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'messenger/css/styleNull.css' %}?{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'messenger/css/password.css' %}?{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
<header>
     <div class="container">
        <div class="logo"><a href="http://{{ request.get_host }}/messenger">Messenger</a></div>
        <div class="spacer"></div>
        <a class="account-link" href="http://{{ request.get_host }}/messenger/account">
            {{ username }}
            {% if has_avatar %}
                <img class="icon" src="http://{{ request.get_host }}{{ avatar_path }}"
                     alt="" width="50px" height="50px" id="avatarImage">
            {% else %}
                <img class="icon" src="{% static "messenger/img/empty-avatar.svg" %}"
                     alt="" width="50px" height="50px" id="avatarImage">
            {% endif %}
        </a>
    </div>
</header>
<main>
    <div class="password-window">
        <div class="header password-window__header">Change password</div>
        <div class="text-input password-window__text-input">
             <label for="oldPassword"></label><input type="text" id="oldPassword" placeholder="Old password">
        </div>
        <div class="text-input password-window__text-input">
             <label for="newPassword1"></label><input type="password" id="newPassword1" placeholder="New password">
        </div>
        <div class="text-input password-window__text-input">
            <label for="newPassword2"></label><input type="password" id="newPassword2" placeholder="Repeat new password">
        </div>
        <div class="btn password-window__save-password-btn" onclick="sendPasswords()">Save</div>
        <div class="error-popup password-window__error-popup" id="error-popup">Test</div>
    </div>
</main>
<footer>
     <div class="container">
        <div class="github"><a href="https://github.com/egorgur">github/egorgur</a></div>
        <div class="spacer"></div>
        <div class="telegram"><a>telegram/@egorgur</a></div>
    </div>
</footer>


<script> const CSRF_TOKEN = '{{ csrf_token }}';</script>
<script src="{% static 'messenger/js/fetch.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/password.js' %}?{{ csrf_token }}"></script>
</body>
</html>