{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="mark"></div>
    <label><input type="text" id="oldPassword" name="old_password"></label>
    <label><input type="text" id="newPassword1" name="new_password_1"></label>
    <label><input type="text" id="newPassword2" name="new_password_2"></label>
    <button type="submit"></button>
<script> const CSRF_TOKEN = '{{ csrf_token }}';</script>
<script src="{% static 'messenger/js/fetch.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'messenger/js/password.js' %}?{{ csrf_token }}"></script>
</body>
</html>